* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.board-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 60px;
    height: 60px;
    background: black;
    color: white;
    border: 1px solid white;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 700;
    padding: 0;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
    background: black;
}

footer span {
    font-style: italic;
}
